server {
    listen {{ port }};
    server_name {{ domaine }};

    location / {
        root {{ dossier_racine }};
    }
    {% if securise %}
    ssl_certificate /etc/nginx/ssl/cert.pem;
    {% else %}
    {% endif %}
    {% for admin in admins %}
    allow {{ admin }};
    {% endfor %}
    deny all;
}
