apiVersion: v1
kind: Pod
metadata:
  name: {{ nom_du_pod }}
  labels:
    app: {{ type_app }}
spec:
  containers:
  - name: {{ nom_du_conteneur }}
    image: {{ nom_image }}:{{ version_image }}
    ports:
    - containerPort: {{ port_interne }}
