apiVersion: v1
kind: Pod
metadata:
  name: {{ name_pod }}
  labels:
    app: {{ type_app }}
spec:
  containers:
  - name: {{ name_container }}
    image: {{ name_image }}:{{ version_image }}
    ports:
    - containerPort: {{ port }}
